################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.ipch
/.vs
/out
/build
.vscode/c_cpp_properties.json
